*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
  }

  .myheader{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  input[type="checkbox"]{
    display: none;
  }
  .icon-menu3{
    display: none;
  }
  /* 
  -------
  responive navbar
  -------
  */
  @media screen and (max-width: 580px) {
    .das-logo {

        display: flow-root;
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }



    /* 
    ------
    */
    header{
    height: 178px;
   }
   
    .icon-menu3{
        display: block;
      }
  .wrapper{
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* background: #000; */
    transition: all 0.3s ease-in-out;
  }
  .icon-menu3{
    color: red ;
    font-size: 45px;
  }


  #active:checked ~ .menu-btn{
    color: rgb(15, 15, 15);
  }
  #active:checked ~ .menu-btn span:before{
    /* content: "\f00d"; */
    color: #ff8406;
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 10px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;

    font-size: 25px;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }
  .content .title{
    font-size: 40px;
    font-weight: 700;
  }
  .content p{
    font-size: 35px;
    font-weight: 600;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
}
@media screen and (max-width: 380px){
.wrapper ul {

    left: 46%;
    transform: translate(-50%, -50%);
        font-size: 25px;

}
.wrapper ul li {
 padding: 0;

}
.wrapper ul li a {
  font-size: 15px;
}

}